{% extends 'index.html' %}

{% block title %}
  <h1>Clientes</h1>
{% endblock %}

{% block content %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>DNI</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Vehículos registrados</th>
      </tr>
    </thead>
    <tbody>
      {% for c in clients %}
        <tr>
          <td>{{ c.lastName }}</td>
          <td>{{ c.name }}</td>
          <td>{{ c.DNI }}</td>
          <td>{{ c.email }}</td>
          <td>{{ c.tel }}</td>
          <td>{{ c.vehicles }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
