{% extends 'index.html' %}

{% block title %}
  <h1 class="mb-5">Empleados</h1>
{% endblock %}

{% block content %}
  <div class="row gx-4 justify-content-center mt-1">
    <div class="col-4 justify-content-center">
      <a class="btn btn-primary m-1" href="{% url 'add-employee' %}">Agregar nuevo empleado</a>
      <a class="btn btn-success m-1" href="{% url 'search-employee' %}">Buscar empleado</a>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>DNI</th>
        <th>Teléfono</th>
      </tr>
    </thead>
    <tbody>
      {% for c in employees %}
        <tr>
          <td>{{ c.last_name }}</td>
          <td>{{ c.name }}</td>
          <td>{{ c.DNI }}</td>
          <td>{{ c.tel }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
