{% extends 'index.html' %}

{% block title %}
  <h1 class="mb-5">Trabajos pendientes</h1>
{% endblock %}

{% block content %}
  <div class="row gx-4 justify-content-center mt-1">
    <div class="col-4 justify-content-center">
      <a class="btn btn-primary" href="{% url 'add-clients' %}">Agregar nueva tarea</a>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Asignado a</th>
        <th>Patente del vehículo</th>
        <th>Descripción de tarea a realizar</th>
      </tr>
    </thead>
    <tbody>
      {% for c in tasks %}
        <tr>
          <td>{{ c.asignedTo }}</td>
          <td>{{ c.vehicleID }}</td>
          <td>{{ c.description }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
