{% extends 'myapp/index.html' %}

{% block title %}
  <h1 class="mb-5">Clientes</h1>
{% endblock %}

{% block content %}
  {% block buttons %}
    <div class="row gx-4 justify-content-center mt-1">
      <div class="col-4 justify-content-center">
        <div class="hstack gap-2">
          <a class="btn btn-primary m-1" href="{% url 'add-client' %}">Agregar nuevo cliente</a>
          <a class="btn btn-success m-1" href="{% url 'search-client' %}">Buscar cliente</a>
        </div>
      </div>
    </div>
  {% endblock %}

  {% block queryResults %}
    {% if results %}
      <div class="row gx-4 justify-content-center">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Apellido</th>
              <th>Nombre</th>
              <th>DNI</th>
              <th>Email</th>
              <th>Teléfono</th>
              <th>Vehículos registrados</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for c in results %}
              <tr>
                <td>{{ c.last_name }}</td>
                <td>{{ c.name }}</td>
                <td>{{ c.DNI }}</td>
                <td>{{ c.email }}</td>
                <td>{{ c.tel }}</td>
                <td>
                  {% for plate in c.plate_IDs %}
                    {{ plate }},
                  {% endfor %}
                </td>
                <td>
                  <a class="btn btn-primary" href="{% url 'update-client' c.id %}"><i class="fa fa-edit fa-sm" title="Edit registry"></i></a>
                  <a class="btn btn-danger" href="{% url 'delete-client' c.id %}"><i class="fa fa-trash fa-sm" title="Delete registry"></i></a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% endblock %}
{% endblock %}
