{% extends 'myapp/employee_list.html' %}

{% block title %}
  <h1 class="mb-5">Confirmar eliminación de empleado</h1>
{% endblock %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    <div class="text-center">
      <h3>¿Está seguro de que desea eliminar el siguiente empleado?</h3>
      <h4 style="color: red">{{ object }}?</h4>
    </div>
    <div class="text-center">
      <input type="submit" class="btn btn-danger" value="Confirmar" />
    </div>
  </form>
{% endblock %}
