{% extends basehtml %}

{% block content %}
  {% block search %}
    <form class="m-1" method="get">
      {{ form.as_p }}
      <button type="submit" value="Search" class="btn btn-primary">Buscar</button>
    </form>
  {% endblock %}

  {% block queryResults %}
    {% if query %}
      <h3>Resultados para "{{ query }}":</h3>
      {% for result in results %}
        {{ result }}
      {% empty %}
        No se encontraron resultados
      {% endfor %}
    {% endif %}
  {% endblock %}
{% endblock %}
