{% extends 'myapp/index.html' %}

{% block title %}
  <h1 class="mb-5">Tareas</h1>
{% endblock %}

{% block content %}
  <div class="row gx-4 justify-content-center mt-1">
    <div class="col-4 justify-content-center">
      <a class="btn btn-primary m-1" href="{% url 'add-task' %}">Agregar nueva tarea</a>
      <a class="btn btn-success m-1" href="{% url 'search-task' %}">Buscar tarea</a>
    </div>
  </div>
  {% block queryResults %}
    {% if results %}
      <div class="row gx-4 justify-content-center">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Completado?</th>
              <th>Asignado a</th>
              <th>Patente del vehículo</th>
              <th>Descripción de tarea a realizar</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for task in results %}
              <tr>
                <td>{{ task.is_completed }}</td>
                <td>{{ task.asigned_to }}</td>
                <td>{{ task.vehicle_ID }}</td>
                <td>{{ task.description }}</td>
                <td>
                  <a class="btn btn-primary" href="{% url 'update-task' task.id %}"><i class="fa-solid fa-edit fa-sm" title="Edit registry"></i></a>
                  <a class="btn btn-danger" href="{% url 'delete-task' task.id %}"><i class="fa-solid fa-trash fa-sm" title="Delete registry"></i></a>

                  {% if not task.is_completed %}
                    <form action="{% url 'complete-task' %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-success" name="id" value="{{ task.id }}"><i class="fa-solid fa-circle-check fa-sm" title="Completar tarea"></i></button>
                    </form>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% endblock %}
{% endblock %}
