{% extends 'myapp/index.html' %}

{% block title %}
  <h1 class="mb-5">Tareas</h1>
{% endblock %}

{% block content %}
  <div class="row gx-4 justify-content-center mt-1">
    <div class="hstack gap-2 justify-content-center align-items-center">
      <a class="btn btn-primary m-1" href="{% url 'add-task' %}">Agregar nueva tarea</a>
      <a class="btn btn-success m-1" href="{% url 'search-task' %}">Buscar tarea</a>
    </div>
  </div>
  {% block queryResults %}
    {% if results %}
      <div class="row gx-4 justify-content-center">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Fecha y hora</th>
              <th scope="col">Asignado a</th>
              <th scope="col">Patente del vehículo</th>
              <th scope="col">Descripción de tarea a realizar</th>
              <th scope="col">Completado?</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% for task in results %}
              <tr>
                <td>{{ task.created }}</td>
                <td>{{ task.asigned_to.name }} {{ task.asigned_to.last_name }}</td>
                <td>{{ task.vehicle.plate_ID }}</td>
                <td>{{ task.description }}</td>
                <td>
                  {% if not task.is_completed %}
                    No
                  {% else %}
                    Si
                  {% endif %}
                </td>

                <td>
                  <div class="d-flex">
                    {% if not task.is_completed %}
                      <form action="{% url 'complete-task' %}" method="post">
                        {% csrf_token %}
                        <button title="Marcar como completada" type="submit" class="btn btn-sm btn-success me-2" name="id" value="{{ task.id }}"><i class="fa-solid fa-circle-check fa-sm" title="Marcar como completada"></i></button>
                      </form>
                      <a title="Editar registro" class="btn btn-sm btn-primary me-2" href="{% url 'update-task' task.id %}"><i class="fa-solid fa-edit fa-sm" title="Editar registro"></i></a>
                    {% endif %}
                    <a title="Eliminar registro" class="btn btn-sm btn-danger" href="{% url 'delete-task' task.id %}"><i class="fa-solid fa-trash fa-sm" title="Eliminar registro"></i></a>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% endblock %}
{% endblock %}
