{% extends 'myapp/index.html' %}

{% block title %}
  <h1 class="mb-5">Tareas</h1>
{% endblock %}

{% block content %}
  <div class="row gx-4 justify-content-center mt-1">
    <div class="col-4 justify-content-center">
      <a class="btn btn-primary m-1" href="{% url 'add-task' %}">Agregar nueva tarea</a>
      <a class="btn btn-success m-1" href="{% url 'search-task' %}">Buscar tarea</a>
    </div>
  </div>
  {% block queryResults %}
    {% if results %}
      <div class="row gx-4 justify-content-center">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Asignado a</th>
              <th>Patente del vehículo</th>
              <th>Descripción de tarea a realizar</th>
            </tr>
          </thead>
          <tbody>
            {% for c in results %}
              <tr>
                <td>{{ c.is_completed }}</td>
                <td>{{ c.asigned_to }}</td>
                <td>{{ c.vehicle_ID }}</td>
                <td>{{ c.description }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% endblock %}
{% endblock %}
