{% extends 'myapp/index.html' %}

{% block title %}
  <h1 class="mb-5">Vehículos</h1>
{% endblock %}

{% block content %}
  <div class="row gx-4 justify-content-center mt-1">
    <div class="col-4 justify-content-center">
      <a class="btn btn-primary m-1" href="{% url 'add-vehicle' %}">Agregar nuevo vehículo</a>
      <a class="btn btn-success m-1" href="{% url 'search-vehicle' %}">Buscar vehículo</a>
    </div>
  </div>

  {% block queryResults %}
    {% if results %}
      <div class="row gx-4 justify-content-center">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo de vehículo</th>
              <th>Patente</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>DNI dueño/a</th>
            </tr>
          </thead>
          <tbody>
            {% for c in results %}
              <tr>
                <td>{{ c.vehicle_type }}</td>
                <td>{{ c.plate_ID }}</td>
                <td>{{ c.brand }}</td>
                <td>{{ c.brand_model }}</td>
                <td>{{ c.owner_DNI }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% endblock %}
{% endblock %}
